<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div id="app">
        <div id="wrapper">
            <!-- Make sure data-text equals the text you put inside the tags. -->GODLINE">GODLINE</h1>
            <span class="sub">TATTOO</span>
            <span class="sub">X</span>
            <span class="sub">BARBER</span>
        </div>
    </div>
</body>
</html>